body{
    background: color #9cf;
}

#logo{
    margin-top: -10px;
    width: 300px;
    height: 227px;
    margin: auto;
}

#logo img{
    width: 260px;
    height: 217px;
    margin-left: 20px;
}

#caixa-login{
    background-color: #fff;
    width: 450px;
    height: 300px;
    margin: -35px auto;
    border: 3px solid #ccc;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
     border-radius: 5px;
}

#caixa-login table{
    font: 15px Arial, Halvetica, sans-serif;
    color: #666;
    margin: 40px 10px 10px 10px;
}

#caixa-login h1{
    font: 15px Arial, Helvetica, sans-serif;
    color: #666;
    margin: 10px 0 0 0;
}

#caixa-login input{
    font: 15px Arial, Helvetica, sans-serif;
    color: rgb(28, 113, 241);
    height: 25px;
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
     border-radius: 5px;
}

#caixa-login .input{
    font: 15px Arial, Helvetica, sans-serif;
    color: #fff;
    height: 40px;
    padding: 10px;
    background-color: rgb(28, 113, 241);
    cursor: pointer;
    width: 80px;
    margin: 10px 0 0 0;
    border: 1px solid #ccc;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
     border-radius: 5px;
}

#caixa-login .input:hover{
    background-color: rgb(64, 5, 226);
}

#caixa-login h2{
    font: 15px Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #900;
    text-align: center;
    padding: 5px;
    float: left;
    margin: 28px 0 10px 10px;
    border: 1px solid #ccc;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
     border-radius: 5px;
}